<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.FoodclassifyDao">
    <resultMap id="baseFoodclassifyMap" type="foodclassify">
        <id property="fcId" column="fc_id"/>
        <result property="fcName" column="fc_name"/>
    </resultMap>
    <resultMap id="foodclassifyMap" type="foodclassify" extends="baseFoodclassifyMap">
        <collection property="food" resultMap="com.dao.FoodDao.baseFoodMap"/>
    </resultMap>
    <select id="selectAllByFoodclassify" resultMap="foodclassifyMap">
        select *
        from food,
             foodclassify
        where food.food_classify = foodclassify.fc_id
    </select>
</mapper>